Makefile
Makefile.in
configure
config.h.in
tests/*/*.log
tests/*/*.trs
tests/*/*.out
tests/*/*.diff
*.o
*~
.swp
.deps

#expected targets
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
config.log
config.status
config/compile
config/config.h
config/stamp-h1
config/test-driver
diod/diod
diod/diod.8
etc/diod.conf.5
libdiod/libdiod.a
liblsd/liblsd.a
libnpclient/libnpclient.a
libnpfs/libnpfs.a
scripts/auto.diod
scripts/diod.init
tags
tests/kern/dbench/proto.h
tests/misc/README.OSX
tests/misc/tconf
tests/misc/tfcntl
tests/misc/tfidpool
tests/misc/tlist
tests/misc/tlua
tests/misc/tnpsrv
tests/misc/tnpsrv2
tests/misc/tnpsrv3
tests/misc/topt
tests/misc/tserialize
tests/misc/tsetuid
tests/misc/tsuppgrp
utils/diodcat
utils/diodcat.8
utils/dioddate
utils/dioddate.8
utils/diodload
utils/diodload.8
utils/diodls
utils/diodls.8
utils/diodmount.8
utils/diodshowmount
utils/diodshowmount.8
utils/dtop
utils/dtop.8
