name: ci

on: [ pull_request, push ]

jobs:
  build:
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        cc: [gcc, clang]
        os: [ubuntu-latest, ubuntu-18.04]

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
            libpopt-dev ncurses-dev automake autoconf pkgconf \
            lua5.3 liblua5.3-dev libmunge-dev libwrap0-dev libcap-dev \
            libattr1-dev ${{matrix.cc}}
    - name: Display configuration
      run: |
        echo "C compiler:"
        ${CC} --version
      env:
        CC: ${{matrix.cc}}
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
